body {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        overflow:hidden;
}
.background-image{
    position:absolute;
    inset:0;
    background-image: url("assets/images/i-spy-recovered.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            animation: blur 30s ease-in-out infinite;
            z-index: -1;
}
.fraunces-uniquifier{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "SOFT" 2;
    font-variation-settings:
    "WONK" 2;
  }
.titlebox1 { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:5;
    padding: 22px;
    height:250px;
    width: 62%;
    background-color: sienna;
    border-radius: 5%;
    text-align: center;
    font-size:xx-large;
    color: antiquewhite;
}
#overlay {
    position: relative;
    z-index: 10;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-img {
  display: block;
  width: 100%;
}
.button{
background-color: antiquewhite;
  border:none;
  border-radius: 25%;
  color: rgb(41, 1, 16);
  padding: 12px 24px;
  text-align: center;
  text-decoration:dotted;
  display: inline-block;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  cursor: pointer;
  transition:all 0.5s ease;
}
.button:hover {
    background-color: sienna;
    color: antiquewhite;
    transform: scale(1.1);
}
@keyframes blur {
    0% {filter: blur(0px);}
    25% {filter: blur(5px);}
    50% {filter: blur(10px);}
    75% {filter: blur(15px);}
    100% {filter: blur(20px);}
}